<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" id="html">
    <head>
        <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
        <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equipv="x-ua-compatible">
        <title>Synchronization Tool</title>
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
        <link rel="stylesheet" th:href="@{/css/cover.css}" href="../static/css/cover.css">
    </head>
    <body class="text-center">
        <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 class="masthead-brand">
                        <a th:href="@{/}">DoingLab</a>
                    </h3>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link active" href="#">Home</a>
                        <a class="nav-link" href="#">Contact</a>
                    </nav>
                </div>
            </header>

            <main role="main" class="inner cover">
                <h1 class="cover-heading">FoodInfo Synchronization Tool</h1>
                <p class="lead">Upload an excel file from Google Drive</p>
                <p>
                    <small>The synchronization process will take around 5 minutes to complete, so do not panic if it's
                        taking a bit!!
                    </small>
                </p>
                <img th:src="@{/img/loader.gif}" alt="loading gif" src="/img/loader.gif" id="image"
                     style="display: none">
                <div class="alert alert-danger" role="alert" id="errorMessage" hidden></div>
                <!--                <p class="lead">-->
                <!--                    <a href="#" class="btn btn-lg btn-secondary" id="csvFormTrigger">Click here to upload a csv file</a>-->
                <!--                    <a href="#" class="btn btn-lg btn-secondary" id="excelFormTrigger">Click here to upload an Excel-->
                <!--                        file</a>-->
                <!--                </p>-->
                <!-- csv file upload -->
                <!--                <form method="post" th:action="@{/upload}" action="/upload" class="lead" id="csvFileUploadForm"-->
                <!--                      enctype="multipart/form-data">-->
                <!--                    <input type="file" class="btn btn-lg btn-secondary" name="csvFile" id="csvFile">-->
                <!--                    <input type="submit" class="btn btn-lg btn-secondary" name="submit" value="Submit csv file">-->
                <!--                </form>-->
                <!-- excel file upload -->
                <!--                <form method="post" th:action="@{/uploadExcel}" action="/uploadExcel" class="lead"-->
                <!--                      id="excelFileUploadForm"-->
                <!--                      enctype="multipart/form-data">-->
                <!--                    <input type="file" class="btn btn-lg btn-secondary" name="excelFile" id="excelFile"-->
                <!--                           accept=".xls,.xlsx">-->
                <!--                    <input type="submit" class="btn btn-lg btn-secondary" name="submit" value="Submit">-->
                <!--                </form>-->
                <div class="btn-group" role="group">
                    <button data-toggle="collapse" data-target="#fileList" class="btn btn-dark" id="listFiles">
                        List Files
                    </button>
                </div>
                <div class="collapse" id="fileList">
                    <div class="card card-body">
                        To list files press the refresh button.
                        <button class="btn btn-info" id="refreshFileButton">
                            Refresh
                        </button>
                        <ul class="list-group" id="fileListContainer">

                        </ul>
                    </div>
                </div>
            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>
                        <a href="http://doinglab.com/" target="_blank">DoingLab</a>
                    </p>
                </div>
            </footer>
        </div>
        <script th:href="@{/js/index.js}" src="/js/index.js"></script>
    </body>

</html>