<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="webjars/jquery/3.4.1/jquery.min.js"
                th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>
        <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"
                th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
        <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
              th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equipv="x-ua-compatible">
        <title>error</title>
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
        <link rel="stylesheet" th:href="@{/css/cover.css}" href="../static/css/cover.css">
    </head>
    <body class="text-center">
        <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main role="main" class="cover">
                <div class="container text-center">
                    <h1 class="text-center text-danger">There was an error!</h1>
                    <br>
                    <p>
                        <a th:href="@{/}">go back</a>
                    </p>
                </div>
            </main>
        </div>
    </body>
</html>