<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
        <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equipv="x-ua-compatible">
        <title>Synchronization Tool</title>
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
        <link rel="stylesheet" th:href="@{/css/cover.css}" href="../static/css/cover.css">
    </head>
    <body class="text-center">
        <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 class="masthead-brand">
                        <a th:href="@{/}">DoingLab</a>
                    </h3>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link active" href="#">Home</a>
                        <a class="nav-link" href="#">Contact</a>
                    </nav>
                </div>
            </header>
            <main role="main" class="inner cover">
                <h1 class="cover-heading">FoodInfo Synchronization Tool</h1>
                <div>
                    <a href="/googleSignIn" th:href="@{/googleSignIn}">
                        <img src="../static/img/google_sign_in.png"
                             th:src="@{/img/google_sign_in.png}"
                             alt="Click here to Sign In"
                             class="text-center">
                    </a>
                </div>
            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>
                        <a href="http://doinglab.com/" target="_blank">DoingLab</a>
                    </p>
                </div>
            </footer>
        </div>

        <script th:href="@{/js/index.js}" src="/js/index.js"></script>
    </body>
</html>